<template>
  <div class="board">
    <div class="player_1">
      <div>
        <label>Player 1 (X) // {{$store.state.player_1_name}}</label>
      </div>
      <input type="text" @input="$store.commit('setPlayer1Name', $event.target.value)" v-model="player_1_name">
    </div>

    <div class="game-board">
      Active player: {{ activePlayer }}

      <div class="line" v-for="(i, y) in 3" :key="i">
        <div class="cell" v-for="(j, x) in 3" :key="j"
             @click="clickToCell(x,y)"
             :style="{pointerEvents: result[y][x] !== null ? 'none' : ''}">

          {{ result[y][x] !== null ? result[y][x] : '-' }}

        </div>
      </div>

      Count of Empty: {{ clicks }}
    </div>

    <div class="player_2">
      <div>
        <label>Player 2 (O) // {{$store.state.player_2_name}}</label>
      </div>
      <input type="text" @input="$store.commit('setPlayer2Name', $event.target.value)" v-model="player_2_name">
    </div>
  </div>
</template>

<script>
export default {
  name: "GamePage",
  data: () => ({
    result: [
      [null, null, null],
      [null, null, null],
      [null, null, null],
    ],
    activePlayer: 1,
    clicks: 9
  }),
  computed: {
    // countOfEmpty() {
    //   return this.result.reduce((acc, value) => {
    //     return acc + value.reduce((acc, value) => {
    //       return acc + value !== null ? 1 : 0
    //     }, 0)
    //   }, 0)
    // }
  },
  methods: {

    winX() {
      for (const row of this.result) {
        if (row.every(value => value !== null && value === 1)) {
          return true
        }
      }
      let win = false
      for (let x = 0; x < 3; x++) {
        for (let y = 0; y < 3; y++) {
          win = this.result[y][x] !== null && this.result[y][x] === 1;
        }
        if (win) return true
      }

      for (let x = 0; x < 3; x++) {
        win = this.result[x][x] !== null && this.result[x][x] === 1;
      }
      if (win) return true

      for (let x = 0; x < 3; x++) {
        const cell = this.result[x][this.result.length - 1 - x]
        win = cell !== null && cell === 1;
      }

      return win;
    },
    winO() {
      for (const row of this.result) {
        if (row.every(value => value !== null && value === 0)) {
          return true
        }
      }
      let win = false
      for (let x = 0; x < 3; x++) {
        for (let y = 0; y < 3; y++) {
          win = this.result[y][x] !== null && this.result[y][x] === 0;
        }
        if (win) return true
      }

      for (let x = 0; x < 3; x++) {
        win = this.result[x][x] !== null && this.result[x][x] === 0;
      }
      if (win) return true

      for (let x = 0; x < 3; x++) {
        const cell = this.result[x][this.result.length - 1 - x]
        win = cell !== null && cell === 0;
      }

      return win;
    },

    clickToCell(x, y) {
      this.clicks--
      this.result[y][x] = this.activePlayer

      if (this.activePlayer) this.activePlayer = 0
      else this.activePlayer = 1

      if (this.winX()) alert('X winner')
      else if (this.winO()) alert('O winner')
      else if (this.clicks <= 2) {
        alert('Nichia (draw)')
      }
    }
  },
}
</script>

<style scoped>
.board {
  display: flex;
  padding: 20px;
  background-color: #ccc;
}

.game-board {
  margin: auto;
}

.line {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.line:not(:last-child) {
  margin-bottom: 20px;
}

.cell {
  min-height: 100px;
  min-width: 100px;
  padding: 20px;
  background-color: #fff;
}
</style>
