<template>
  <div class="container">
    <header>
      Header /// <router-link to="/">Home page</router-link> ///
      <router-link to="/game">Game page</router-link>

      {{$store.state.player_1_name}}
      <hr>
      {{ $store.getters.players }}
    </header>


    <hr>
    <router-view/>

  </div>
</template>

<script>
export default {
  name: 'App',
  data: () => ({}),
  created() {
  },
  computed: {},
  methods: {},
  // components: {
  //   ListItem
  // },
}
</script>

<style></style>
